{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h1>Mon panier</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id_produit</th>
                <th>image</th>
                <th>titre</th>
                <th>description</th>
                <th>prix</th>
                <th>Quantite</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in panier %}
            <tr>
                <td>{{ key }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ value }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
